{% extends 'base.html' %}
{% block content %}
<h1 class="my-4">{{ data.id }} の問題</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'qa' %}">qa</a></li>
        <li class="breadcrumb-item"><a href="/admin/memo/question/{{data.id}}/change/" target="_blank">change</a></li>
    </ol>
</nav>

<ul>
    <li>カテゴリ：{{ data.cat.name }}</li>
    <li>タグ：
        {% for t in data.tags.all %}
        {{ t.name }}
        {% endfor %}
    </li>
</ul>

<h3>問題</h3>
<pre><code>{{ data.problem }}</code></pre>

<h3>解答</h3>
<pre><code style="color: white;">{{ data.answer }}</code></pre>

<div class="text-center my-4">
    <button class="btn btn-primary" onclick="window.scrollTo(0, 0);">ページトップ</button>
</div>
{% endblock %}
