{% extends 'base.html' %}
{% block content %}
<h1>memo</h1>

<table class="table">
    <tr>
        <th>カテゴリ</th>
        <th>タイトル</th>
        <th>タグ</th>
    </tr>
    {% for data in dataset %}
    <tr>
        <td>{{ data.cat.name }}</td>
        <td><a href="{% url 'memo_detail' data.id %}">{{ data.title }}</a></td>
        <td>
            {% for t in data.tags.all %}
            {{ t.name }}
            {% endfor %}
        </td>
        <td></td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="../">トップに戻る</a>
</p>
{% endblock %}
