{% extends 'base.html' %}
{% block content %}
<h1 class="my-4">memo</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">home</a></li>
        <li class="breadcrumb-item"><a href="/admin/memo/note/add/" target="_blank">add</a></li>
    </ol>
</nav>

<table class="table">
    <tr>
        <th>カテゴリ</th>
        <th>タイトル</th>
        <th>タグ</th>
    </tr>
    {% for data in dataset %}
    <tr>
        <td>{{ data.cat.name }}</td>
        <td><a href="{% url 'memo_detail' data.id %}">{{ data.title }}</a></td>
        <td>
            {% for t in data.tags.all %}
            {{ t.name }}
            {% endfor %}
        </td>
        <td></td>
    </tr>
    {% endfor %}
</table>

<div class="text-center my-4">
    <button class="btn btn-primary" onclick="window.scrollTo(0, 0);">ページトップ</button>
</div>
{% endblock %}
